In [1]:
from montecarlo import Die, Game, Analyzer

In [14]:
firstDie = Die(faces=[1,2, 3, 4, 5, 6])

In [15]:
firstDie.change_weight(1, 4)

In [16]:
firstDie.roll_die(20)

[4, 3, 1, 1, 3, 1, 4, 3, 3, 1, 1, 3, 6, 6, 4, 5, 6, 1, 1, 1]

In [5]:
firstDie.show_die()

   Face  Weight
0   1.0     4.0
1   2.0     1.0
2   3.5     1.0
3   5.0     1.0
4   6.0     1.0
5   7.0     1.0

In [17]:
firstGame = Game(object_list=[firstDie,firstDie,firstDie])

In [18]:
firstGame.play(rolls=20)

             Die Number 1  Die Number 2  Die Number 3
Roll Number
1                       6             1             3
2                       1             2             2
3                       4             1             4
4                       1             1             1
5                       2             1             3
6                       1             1             4
7                       2             1             3
8                       1             1             5
9                       4             5             5
10                      6             4             2
11                      3             2             1
12                      3             1             1
13                      4             4             1
14                      1             3             1
15                      1             3             6
16                      1             6             2
17                      5             2             1
18                      5             6             1
19                      2             3             3
20                      1             1             1

In [19]:
firstGame.show("narrow")

Roll Number
1            Die Number 1    6
             Die Number 2    1
             Die Number 3    3
2            Die Number 1    1
             Die Number 2    2
             Die Number 3    2
3            Die Number 1    4
             Die Number 2    1
             Die Number 3    4
4            Die Number 1    1
             Die Number 2    1
             Die Number 3    1
5            Die Number 1    2
             Die Number 2    1
             Die Number 3    3
6            Die Number 1    1
             Die Number 2    1
             Die Number 3    4
7            Die Number 1    2
             Die Number 2    1
             Die Number 3    3
8            Die Number 1    1
             Die Number 2    1
             Die Number 3    5
9            Die Number 1    4
             Die Number 2    5
             Die Number 3    5
10           Die Number 1    6
             Die Number 2    4
             Die Number 3    2
11           Die Number 1    3
             Die Number 2    2
             Die Number 3    1
12           Die Number 1    3
             Die Number 2    1
             Die Number 3    1
13           Die Number 1    4
             Die Number 2    4
             Die Number 3    1
14           Die Number 1    1
             Die Number 2    3
             Die Number 3    1
15           Die Number 1    1
             Die Number 2    3
             Die Number 3    6
16           Die Number 1    1
             Die Number 2    6
             Die Number 3    2
17           Die Number 1    5
             Die Number 2    2
             Die Number 3    1
18           Die Number 1    5
             Die Number 2    6
             Die Number 3    1
19           Die Number 1    2
             Die Number 2    3
             Die Number 3    3
20           Die Number 1    1
             Die Number 2    1
             Die Number 3    1
dtype: int64

In [20]:
firstAnalyzer = Analyzer(firstGame)

In [21]:
firstAnalyzer.count_face()

               1    2    3    4    5    6
Roll Number
1            1.0  0.0  1.0  0.0  0.0  1.0
2            1.0  2.0  0.0  0.0  0.0  0.0
3            1.0  0.0  0.0  2.0  0.0  0.0
4            3.0  0.0  0.0  0.0  0.0  0.0
5            1.0  1.0  1.0  0.0  0.0  0.0
6            2.0  0.0  0.0  1.0  0.0  0.0
7            1.0  1.0  1.0  0.0  0.0  0.0
8            2.0  0.0  0.0  0.0  1.0  0.0
9            0.0  0.0  0.0  1.0  2.0  0.0
10           0.0  1.0  0.0  1.0  0.0  1.0
11           1.0  1.0  1.0  0.0  0.0  0.0
12           2.0  0.0  1.0  0.0  0.0  0.0
13           1.0  0.0  0.0  2.0  0.0  0.0
14           2.0  0.0  1.0  0.0  0.0  0.0
15           1.0  0.0  1.0  0.0  0.0  1.0
16           1.0  1.0  0.0  0.0  0.0  1.0
17           1.0  1.0  0.0  0.0  1.0  0.0
18           1.0  0.0  0.0  0.0  1.0  1.0
19           0.0  1.0  2.0  0.0  0.0  0.0
20           3.0  0.0  0.0  0.0  0.0  0.0

In [24]:
firstAnalyzer.jackpot()

2

In [23]:
firstAnalyzer.combo()

           Frequency of Combination
[1, 2, 3]                         3
[1, 3, 6]                         2
[1, 4, 4]                         2
[1, 1, 1]                         2
[1, 1, 3]                         2
[1, 2, 2]                         1
[1, 1, 4]                         1
[1, 1, 5]                         1
[4, 5, 5]                         1
[2, 4, 6]                         1
[1, 2, 6]                         1
[1, 2, 5]                         1
[1, 5, 6]                         1
[2, 3, 3]                         1

In [45]:
!python montecarlo_tests.py

test_1_change_weight (__main__.Die_Test) ... ok
test_2_roll_die (__main__.Die_Test) ... ok

----------------------------------------------------------------------
Ran 2 tests in 0.001s

OK