In [1]:
from montecarlo import Die, Game, Analyzer

In [2]:
test1 = Die([1, 2, 3, 4, 5, 6])
test1.die_df

   Face  Weight
0     1     1.0
1     2     1.0
2     3     1.0
3     4     1.0
4     5     1.0
5     6     1.0

In [3]:
test1.change_weight(1, 4)

In [4]:
test1.roll_die(20)

[1, 1, 1, 3, 1, 5, 5, 1, 5, 3, 1, 4, 5, 2, 1, 1, 5, 3, 3, 1]

In [5]:
test1.show_die()

   Face  Weight
0     1     4.0
1     2     1.0
2     3     1.0
3     4     1.0
4     5     1.0
5     6     1.0

In [36]:
test2 = Game([])

In [37]:
test2.play(20)

In [38]:
test2.show()

Empty DataFrame
Columns: []
Index: []

In [42]:
!python montecarlo/montecarlo_test.py

python: can't open file '/Users/surajkunthu/Documents/School/UVA School of Data Science/ds5100_MonteCarloSim/montecarlo/montecarlo/montecarlo_test.py': [Errno 2] No such file or directory